<!DOCTYPE html>
<html>
<head>
  <title>Sandbox</title>
  <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="app-svc.js"></script>
  <script src="app-dir.js"></script>
  <script src="app.js"></script>
</head>
<body ng-app="sandbox" >
<h1>Sandbox</h1>
<div ng-controller="sandboxController as sandboxCtrl">
  <form ng-submit="outputSass()" novalidate>
    <!-- <p>Brand Primary <input type="text" name="brand-prime" ng-model="theme.brand_prime"></p>
    <p>Brand Secondary <input type="text" name="brand-secondary" ng-model="theme.brand_secondary"></p> -->
    <p ng-repeat="sassInput in formData.sassInputs">
      {{sassInput.label}} <input type="{{sassInput.type}}" name="{{sassInput.name}}" ng-model="sassInput.value"></p>
    <p><input type="submit" value="Submit"></p>
  </form>
</body>
</html>